.footer-menu {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    @media screen and (min-width: $w-desktop) {
      flex-wrap: wrap;
      height: 540px;
      gap: 25px;
    }
  }
  &__item-title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 250ms;
    &:hover {
      background-color: $btn-hover-bg-color;
    }
    &:active {
      background-color: $btn-active-bg-color;
    }
  }
  &__item-title {
    @include fontSize;
    font-weight: bold;
  }
  &__down {
    height: 10px;
    width: 10px;
  }
  &__submenu {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &__item-link {
    @include fontSize;
    color: $fc-basic;
    transition: text-shadow 100ms;
    &:hover {
      text-shadow: 0 0 0.65px #333, 0 0 0.65px $fc-basic;
    }
  }
}
