.footer-policy {
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid $fc-basic;
    margin: 20px;
    @media screen and (min-width: $w-tablet) {
      justify-content: space-between;
    }
  }
  &__lang {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: $footer-menu-bg-color;
    margin: 40px;
  }
  &__flag {
    height: 26px;
    width: 26px;
    margin-right: 10px;
    border-radius: 50%;
  }
  &__language {
    @include fontSize;
    line-height: 0;
    padding: 0 10px 0 10px;
  }
  &__content-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__content-link {
    color: $fc-basic;
    margin: 10px;
  }
}
