.footer-contacts {
  &__title {
    @include fontSize;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px 10px 10px 0;
  }
  &__wrap {
    background-color: $footer-menu-bg-color;
    border-radius: 5px;
    padding: 20px;
  }
  &__description {
    @include fontSize;
    font-weight: 500;
    margin-bottom: 20px;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__svg-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $footer-menu-bg-color-contacts;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  &__svg {
    height: 16px;
    width: 16px;
  }
  &__content {
    font-style: 14px;
    font-weight: 500;
    color: $fc-basic;
  }
}

.socials {
  display: flex;
  justify-content: space-between;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
  }
  &__svg {
    height: 24px;
    width: 24px;
  }
}
