.navbar-lang-dropdown {
  position: absolute;
  width: 208px;
  top: 67px;
  right: 0;
  padding: 10px;
  border-radius: 10px;
  background-color: $navbar-dropdown-bg-color;
  box-shadow: 0px 1px 5px 0px #001a4226;
  gap: 10px;
  z-index: 1;
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 250ms;
    &:hover {
      background-color: $btn-hover-bg-color;
    }
    &:active {
      background-color: $btn-active-bg-color;
    }
  }
  &__icon-flag {
    height: 26px;
    width: 26px;
    border-radius: 50%;
  }
  &__language {
    @include fontSize;
    line-height: 0;
    padding: 0 10px 0 10px;
  }
  &__other-language {
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 250ms;
    &:hover {
      background-color: $btn-hover-bg-color;
    }
    &:active {
      background-color: $btn-active-bg-color;
    }
  }
}
