// //PAGE-BODY-WIDTH
// @mixin media-page-width {
//     @media screen and (min-width: $desktop) {
//         width: $w-desktop;
//         margin-left: auto;
//         margin-right: auto;
//     }
// }

//PADDING-CONTAINER

@mixin container {
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 640px) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

// //BG-IMG-HEADER
// @mixin bg-img-header ($img) {
//     @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
//         background: $img;
//         background-repeat: no-repeat;
//         background-size: cover;
//     }
// }

// //FONTSIZE
// @mixin fs ($size-m, $size-d) {
//     font-size: $size-m;
//     @media screen and (min-width: $desktop) {
//         font-size: $size-d;
//     }
// }

// //CONTAINER
// @mixin media-container {
//     @media screen and (min-width: $mobile) {
//         width: $mobile;
//     }
//     @media screen and (min-width: $tablet) {
//         width: $tablet;
//     }
//     @media screen and (min-width: $desktop) {
//         width: $desktop;
//     }
// }

// //ALIGN
// @mixin align ($align-m, $align-d) {
//     text-align: $align-m;
//     @media screen and (min-width: $desktop) {
//         text-align: $align-d;
//     }
// }
