.footer {
  position: relative;
  &__wrap {
    display: flex;
    flex-direction: column;
    background-color: $footer-bg-color;
    padding-top: 40px;
    gap: 40px;
  }
  @media screen and (min-width: $w-tablet) {
    padding-top: 60px;
  }
  @media screen and (min-width: $w-desktop) {
    padding-top: 100px;
  }
  &__group-menu-contacts {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    gap: 30px;
    @media screen and (min-width: $w-tablet) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__section-menu {
    @media screen and (min-width: $w-tablet) {
      width: calc(50% - 10px);
    }
    @media screen and (min-width: $w-desktop) {
      width: 70%;
    }
  }
  &__section-contacts {
    @media screen and (min-width: $w-tablet) {
      width: calc(50% - 10px);
    }
    @media screen and (min-width: $w-desktop) {
      width: 30%;
    }
  }
}
