<div class="footer-contacts__title">Contact us</div>
<div class="footer-contacts__wrap">
  <p class="footer-contacts__description">
    Use only the official channels of communication listed below
  </p>
  <ul class="footer-contacts__list">
    <li class="footer-contacts__item">
      <div class="footer-contacts__svg-bg">
        <svg class="footer-contacts__svg" aria-label="email">
          <use
            class="footer-contacts__icon"
            href="./svg/sprite.svg#icon-email"
          ></use>
        </svg>
      </div>
      <p class="footer-contacts__content">hello@slotegrator.com</p>
    </li>
    <li class="footer-contacts__item">
      <div class="footer-contacts__svg-bg">
        <svg class="footer-contacts__svg" aria-label="phone">
          <use
            class="footer-contacts__icon"
            href="./svg/sprite.svg#icon-phone"
          ></use>
        </svg>
      </div>
      <p class="footer-contacts__content">+357 25 010 473</p>
    </li>
    <li class="footer-contacts__item">
      <div class="footer-contacts__svg-bg">
        <svg class="footer-contacts__svg" aria-label="skype">
          <use
            class="footer-contacts__icon"
            href="./svg/sprite.svg#icon-skype"
          ></use>
        </svg>
      </div>
      <p class="footer-contacts__content">slotegrator</p>
    </li>
  </ul>
  <ul class="footer-contacts__socials socials">
    <li class="socials__item">
      <a class="socials__link" href="">
        <svg class="socials__svg" aria-label="linkedin">
          <use
            class="socials__icon"
            href="./svg/sprite.svg#icon-linkedin"
          ></use>
        </svg>
      </a>
    </li>
    <li class="socials__item">
      <a class="socials__link" href="">
        <svg class="socials__svg" aria-label="youtube">
          <use class="socials__icon" href="./svg/sprite.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
    <li class="socials__item">
      <a class="socials__link" href="">
        <svg class="socials__svg" aria-label="facebook">
          <use
            class="socials__icon"
            href="./svg/sprite.svg#icon-facebook"
          ></use>
        </svg>
      </a>
    </li>
    <li class="socials__item">
      <a class="socials__link" href="">
        <svg class="socials__svg" aria-label="instagram">
          <use
            class="socials__icon"
            href="./svg/sprite.svg#icon-instagram"
          ></use>
        </svg>
      </a>
    </li>
    <li class="socials__item">
      <a class="socials__link" href="">
        <svg class="socials__svg" aria-label="twitter">
          <use class="socials__icon" href="./svg/sprite.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
    <li class="socials__item">
      <a class="socials__link" href="">
        <svg class="socials__svg" aria-label="telegram">
          <use
            class="socials__icon"
            href="./svg/sprite.svg#icon-telegram"
          ></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
