<ul class="navbar-lang-dropdown__list">
  <li class="navbar-lang-dropdown__item">
    <svg class="navbar-lang-dropdown__icon-flag" aria-label="flag-gd">
      <use
        class="navbar-lang-dropdown__icon-flag-gd"
        href="./svg/sprite.svg#icon-flag-gd"
      ></use>
    </svg>
    <span class="navbar-lang-dropdown__language">German</span>
  </li>
  <li class="navbar-lang-dropdown__item">
    <svg class="navbar-lang-dropdown__icon-flag" aria-label="flag-gd">
      <use
        class="navbar-lang-dropdown__icon-flag-eng"
        href="./svg/sprite.svg#icon-flag-eng"
      ></use>
    </svg>
    <span class="navbar-lang-dropdown__language">English</span>
  </li>
</ul>
<div class="navbar-lang-dropdown__other-language">
  <svg class="navbar-lang-dropdown__icon-flag" aria-label="flag-gd">
    <use
      class="navbar-lang-dropdown__icon-other-lang"
      href="./svg/sprite.svg#icon-other-lang"
    ></use>
  </svg>
  <span class="navbar-lang-dropdown__language">Other Language</span>
</div>
