<div class="navbar__container container">
  <div class="navbar__logo">
    <svg class="navbar__icon-logo" aria-label="logo">
      <use class="navbar__icon" href="./svg/sprite.svg#icon-logo"></use>
    </svg>
    <svg class="navbar__logo-slot" aria-label="logo">
      <use
        class="navbar__icon-slot"
        href="./svg/sprite.svg#icon-logo-slot"
      ></use>
    </svg>
  </div>
  <div class="navbar__menu-desktop">@@include('navbar-menu.html')</div>
  <div class="navbar__search">
    <svg class="navbar__icon-search-wrap" aria-label="key-arow-down">
      <use
        class="navbar__icon search"
        href="./svg/sprite.svg#icon-search"
      ></use>
    </svg>
  </div>
  <div class="navbar__group-btn">
    <button class="navbar__contact-button">Contact us</button>
    <button class="navbar__menu-button">
      <svg class="navbar__icon-menu" aria-label="menu">
        <use class="lang-section__icon" href="./svg/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</div>
