//BODY-WIDTH---------------------------------------------------------
$w-tablet: 810px;
$w-desktop: 1280px;
$max-width: 1362px;
//TEXT--
$fs-mobile: 12px;
$fs-tablet: 14px;
$fs-desktop: 16px;
$fc-basic: #16103e;
//PADDING-PAGE--
$padding-page: 0, 50px, 0, 50px;
//SUB-HEDER--
$sub-header-bg-color: #f6f8fa;
$sub-header-btn-bg-color: #ffffff;
$sub-header-btn-box-shadow: 0px 1px 5px 0px #001a4226;
//NAVBAR--
$navbar-btn-color: #ffffff;
$navbar-btn-bg-color: #e92128;
$navbar-dropdown-bg-color: #ffffff;
//NAVBAR-MENU--
$navbar-menu-bg-color: #ffffff;
//BUTTON-ACTIONS--
$btn-hover-bg-color: #f6f8fa;
$btn-active-bg-color: #e3e8ec;
//FOOTER--
$footer-bg-color: #f1f3f5;
//FOOTER-MENU--
$footer-menu-bg-color: #e3e8ec;
$footer-menu-bg-color-contacts: #16103e1a;
//FOOTER-POPUP--
$footer-popup-backdrop-bg-color: #72727280;
$footer-popup-modal-box-shadow: 0px 5px 15px -2px #00000040;
$footer-popup-modal-bg-color: #ffffff;
