<div class="footer-policy container">
  <div class="footer-policy__lang">
    <svg class="footer-policy__flag" aria-label="flag">
      <use
        class="footer-policy__icon-flag"
        href="./svg/sprite.svg#icon-flag-gd"
      ></use>
    </svg>
    <span class="lang-section__language">German</span>
  </div>
  <div class="footer-policy__content-list">
    <a class="footer-policy__content-item" href="">Sitemap</a>
    <a href="">Privacy policy</a>
  </div>
  <p class="footer-policy__rights">© 2015-2023 Slotegrator, All Rights Reserved.</d>
</div>
