<div class="sub-header">
  <div class="sub-header__container container">
    <div class="sub-header__notify">
      <p class="sub-header__text">
        You’re viewing international version of website. Choose preferred region
        to see language localized content.
      </p>
    </div>
    <div class="sub-header__language lang-selector">
      <div class="lang-selector__lang-wrap">
        <button class="lang-selector__lang-button">
          <svg class="lang-selector__icon-flag" aria-label="flag-gd">
            <use
              class="lang-selector__icon-flag-gd"
              href="./svg/sprite.svg#icon-flag-gd"
            ></use>
          </svg>
          <span class="lang-selector__language">German</span>
          <svg class="lang-selector__down" aria-label="key-arow-down">
            <use
              class="lang-selector__icon-down"
              href="./svg/sprite.svg#icon-down"
            ></use>
          </svg>
        </button>
        <div class="lang-selector__navbar-dropdown navbar-dropdown disabled">
          @@include('navbar-dropdown.html')
        </div>
      </div>
      <button class="lang-selector__close-button">
        <svg class="lang-selector__close" aria-label="close">
          <use
            class="lang-selector__icon-close"
            href="./svg/sprite.svg#icon-close"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</div>
