<div class="footer-menu container">
  <ul class="footer-menu__points">
    <li class="footer-menu__point point">
      <div class="point__title-wrap">
        <h4 class="point__title">Integrations</h4>
        <svg class="point__down" aria-label="key-arow-down">
          <use class="point__icon-down" href="./svg/sprite.svg#icon-down"></use>
        </svg>
      </div>
      <ul class="point__list">
        <li class="point__item">
          <a class="point__item-content" href="">Game providers</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Slots</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Live dealers</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Bingo</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Virtual sports</a>
        </li>
      </ul>
    </li>
    <li class="footer-menu__point point">
      <div class="point__title-wrap">
        <h4 class="point__title">Solutions</h4>
        <svg class="point__down" aria-label="key-arow-down">
          <use class="point__icon-down" href="./svg/sprite.svg#icon-down"></use>
        </svg>
      </div>
      <ul class="point__list item-disabled">
        <li class="point__item">
          <a class="point__item-content" href="">All solutions</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Turnkey online casino</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">White label casino</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Crypto casino</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Frontend Builder</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Solutions compared</a>
        </li>
      </ul>
    </li>
    <li class="footer-menu__point point">
      <div class="point__title-wrap">
        <h4 class="point__title">Products</h4>
        <svg class="point__down" aria-label="key-arow-down">
          <use class="point__icon-down" href="./svg/sprite.svg#icon-down"></use>
        </svg>
      </div>
      <ul class="point__list item-disabled">
        <li class="point__item">
          <a class="point__item-content" href="">All Products</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Game integration</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Payment systems</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Online sportsbook</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Telegram casino</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Affiliate management</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Bonus system</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Licensing</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Advisory services</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Hosting</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Platform updates</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Demo casino updates</a>
        </li>
      </ul>
    </li>
    <li class="footer-menu__point point">
      <div class="point__title-wrap">
        <h4 class="point__title">Academy</h4>
        <svg class="point__down" aria-label="key-arow-down">
          <use class="point__icon-down" href="./svg/sprite.svg#icon-down"></use>
        </svg>
      </div>
      <ul class="point__list item-disabled">
        <li class="point__item">
          <a class="point__item-content" href="">Go to Academy</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Analytical articles</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Industry news</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Ebooks</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Webinars</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Interview</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Video Academy</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Infographics</a>
        </li>
      </ul>
    </li>
    <li class="footer-menu__point point">
      <div class="point__title-wrap">
        <h4 class="point__title">Company</h4>
        <svg class="point__down" aria-label="key-arow-down">
          <use class="point__icon-down" href="./svg/sprite.svg#icon-down"></use>
        </svg>
      </div>
      <ul class="point__list item-disabled">
        <li class="point__item">
          <a class="point__item-content" href="">About us</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Careers</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">News</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Reviews</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">Media partners</a>
        </li>
        <li class="point__item">
          <a class="point__item-content" href="">FAQ</a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="footer-menu__contacts contacts">
    <div class="contacts__title">Contact us</div>
    <div class="contacts__wrap">
      <p class="contacts__description">
        Use only the official channels of communication listed below
      </p>
      <ul class="contacts__list">
        <li class="contacts__item">
          <div class="contacts__svg-bg">
            <svg class="contacts__svg" aria-label="email">
              <use
                class="contacts__icon"
                href="./svg/sprite.svg#icon-email"
              ></use>
            </svg>
          </div>
          <p class="contacts__content">hello@slotegrator.com</p>
        </li>
        <li class="contacts__item">
          <div class="contacts__svg-bg">
            <svg class="contacts__svg" aria-label="phone">
              <use
                class="contacts__icon"
                href="./svg/sprite.svg#icon-phone"
              ></use>
            </svg>
          </div>
          <p class="contacts__content">+357 25 010 473</p>
        </li>
        <li class="contacts__item">
          <div class="contacts__svg-bg">
            <svg class="contacts__svg" aria-label="skype">
              <use
                class="contacts__icon"
                href="./svg/sprite.svg#icon-skype"
              ></use>
            </svg>
          </div>
          <p class="contacts__content">slotegrator</p>
        </li>
      </ul>
      <ul class="contacts__socials socials">
        <li class="socials__item">
          <a class="socials__link" href="">
            <svg class="socials__svg" aria-label="linkedin">
              <use
                class="socials__icon"
                href="./svg/sprite.svg#icon-linkedin"
              ></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link" href="">
            <svg class="socials__svg" aria-label="youtube">
              <use
                class="socials__icon"
                href="./svg/sprite.svg#icon-youtube"
              ></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link" href="">
            <svg class="socials__svg" aria-label="facebook">
              <use
                class="socials__icon"
                href="./svg/sprite.svg#icon-facebook"
              ></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link" href="">
            <svg class="socials__svg" aria-label="instagram">
              <use
                class="socials__icon"
                href="./svg/sprite.svg#icon-instagram"
              ></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link" href="">
            <svg class="socials__svg" aria-label="twitter">
              <use
                class="socials__icon"
                href="./svg/sprite.svg#icon-twitter"
              ></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link" href="">
            <svg class="socials__svg" aria-label="telegram">
              <use
                class="socials__icon"
                href="./svg/sprite.svg#icon-telegram"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
