<div class="container">
  <div class="footer-certificats">
    <div class="footer-certificats__api-wrap">
      <p class="footer-certificats__title">API certified for:</p>
      <div class="footer-certificats__api">
        <div class="footer-certificats__country">
          <svg class="footer-certificats__api-svg" aria-label="flag-lt">
            <use
              class="footer-certificats__api-icon"
              href="./svg/sprite.svg#icon-flag-lt"
            ></use>
          </svg>
          <p class="footer-certificats__country-name">Lithuania</p>
        </div>
        <div class="footer-certificats__country">
          <svg class="footer-certificats__api-svg" aria-label="flag-ge">
            <use
              class="footer-certificats__api-icon"
              href="./svg/sprite.svg#icon-flag-ge"
            ></use>
          </svg>
          <p class="footer-certificats__country-name">Georgia</p>
        </div>
      </div>
    </div>
    <div class="footer-certificats__certificats-wrap">
      <p class="footer-certificats__title">Our certificates:</p>
      <div class="footer-certificats__certificats">
        <div class="footer-certificats__cert-logo">
          <svg class="footer-certificats__cert-svg" aria-label="siq">
            <use
              class="footer-certificats__cert-icon"
              href="./svg/sprite.svg#icon-siq"
            ></use>
          </svg>
        </div>
        <div class="footer-certificats__cert-logo">
          <svg class="footer-certificats__cert-svg" aria-label="mga">
            <use
              class="footer-certificats__cert-icon"
              href="./svg/sprite.svg#icon-mga"
            ></use>
          </svg>
        </div>
        <div class="footer-certificats__cert-logo">
          <svg class="footer-certificats__cert-svg" aria-label="onjn">
            <use
              class="footer-certificats__cert-icon"
              href="./svg/sprite.svg#icon-onjn"
            ></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
