<div class="sub-header">
  <div class="sub-header__container container">
    <div class="sub-header__notify">
      <p class="sub-header__text">
        You’re viewing international version of website. Choose preferred region
        to see language localized content.
      </p>
    </div>
    <div class="sub-header__lang lang-section">
      <button class="lang-section__lang-button">
        <svg class="lang-section__flag" aria-label="flag">
          <use
            class="lang-section__icon-flag"
            href="./svg/sprite.svg#icon-flag"
          ></use>
        </svg>
        <span class="lang-section__language">German</span>
        <svg class="lang-section__down" aria-label="key-arow-down">
          <use
            class="lang-section__icon-down"
            href="./svg/sprite.svg#icon-down"
          ></use>
        </svg>
      </button>
      <button class="lang-section__close-button">
        <svg class="lang-section__close" aria-label="close">
          <use
            class="lang-section__icon-close"
            href="./svg/sprite.svg#icon-close"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</div>
